---
layout: default
title: Traveling Trails | About
---

<section class="masthead" style="background-image:url(/assets/img/sunset.JPG)">
  <h1 class="absolute-center show-for-medium">Welcome!</h1>
</section>

<section class="section-about">
  <div class="row align-center centered">
    <div class="small-12 medium-9 large-7 columns">
      <h2>Our Backstory</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h3>What life looks like today</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <h4>How we got here</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section class="section-feature">
  <div class="row column">
    <h2 class="section-heading">Meet the Family</h2>
      {% include the-family.html %}
  </div>
  <div class="row column">
    <h2 class="section-heading">Meet the Pets</h2>
    {% include the-pets.html %}
  </div>
  <div class="row column">
    <h2 class="section-heading">Meet the Extras</h2>
    {% include the-toys.html %}
  </div>
</section>
<!-- <section style="padding: 3rem 0;">
  <div class="row align-center centered">
    <div class="small-12 medium-9 large-7 columns">
      <h4>We hope you'll check back often to see what we've been up too!</h4>
    </div>
  </div>
</section> -->

<section class="section-mailing-list">
  <div class="row align-center">
    <div class="small-12 medium-11 columns">
      <h3>This isn't a normal email list.</h3>
      <p>This is a COOL email list.</p>
      {% include mailing-list.html %}
    </div>
  </div>
</section>
