---
layout: default
title: Traveling Trails
---
<section class="masthead" style="background-image:url('assets/img/background1.jpg')">
  <h1 class="absolute-center">We're Traveling Trails</h1>
</section>
<section class="section-intro">
  <div class="row small-up-1 medium-up-2">
    <div class="column small-order-1 medium-order-2 intro-image"></div>
    <div class="column small-order-1 medium-order-2 editable">
      <h5 class="underline">Welcome to our Adventure</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>

<section class="section-feature">
  {% include feature-squares.html %}
</section>

<section class="section-map">
  <div>
    <h2 class="section-heading">Where We've Been</h2>
  </div>
  {% include map.html %}
</section>

<section class="section-blog">
  <div class="row column">
    <h2 class="section-heading">New on the Blog</h2>
  </div>

  <div class="row column">
    <div class="slider">
      {% for post in site.posts limit:9 %}
        {% include entry-item.html %}
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-mailing-list">
  <div class="row align-center">
    <div class="small-12 medium-11 columns">
      <h3 class="underline">Grab our checklist for minimalistic living</h3>
      <p>Find out how we live with less but still have everything we need with this important checklist.</p>
      {% include mailing-list.html %}
    </div>
  </div>
</section>
