<section class="section-squares">
  <div class="row small-up-3">
    <div class="column">
      <img src="/assets/img/buffalo2.jpg" alt="Buffalo">
      <div class="feature-text">
        <h5>Category</h5>
        <h4><a href="/travel.html">Photography</a></h4>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/buffalo2.jpg" alt="Buffalo">
      <div class="feature-text">
        <h5>Category</h5>
        <h4><a href="/travel.html">Advice</a></h4>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/buffalo2.jpg" alt="Buffalo">
      <div class="feature-text">
        <h5>Category</h5>
        <h4><a href="/travel.html">Travel</a></h4>
      </div>
    </div>
  </div>
</section>
