<div id="mlb2-1011544" class="subscribe-form">
  <form action="https://app.mailerlite.com/webforms/submit/h8n9p8" data-code="h8n9p8" method="post" target="_blank">
    <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
    <button type="submit" class="button">Send</button>
    <input type="hidden" name="ml-submit" value="1">
  </form>

  <div class="success" style="display: none">
    <h4>Thank you!</h4>
    <p>You should be recieving your download in a few minutes!</p>
  </div>
</div>

<script>
  function ml_webform_success_1011544() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-1011544 .success').show();
      $('.ml-subscribe-form-1011544 .row-form').hide();
    }
</script>

<img src="https://track.mailerlite.com/webforms/o/1011544/h8n9p8?v03ee2804ef2f008535475a5d62f02f94" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0">
<script src="https://static.mailerlite.com/js/w/webforms.min.js?v03ee2804ef2f008535475a5d62f02f94" type="text/javascript"></script>
