<section class="section-squares">
  <div class="row small-up-3">
    <div class="column">
      <img src="/assets/img/jen.JPG" alt="Jen Gourdin">
      <div class="feature-text">
        <h5>Old Lady</h5>
        <h4><a href="/travel.html">Jade</a></h4>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/vaughn-jade.jpg" alt="Vaughn Gourdin">
      <div class="feature-text">
        <h5>Pointer Lab</h5>
        <h4><a href="/travel.html">Remi</h4>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/dylan.jpg" alt="Dylan Gourdin">
      <div class="feature-text">
        <h5>Puppy</h5>
        <h4><a href="/travel.html">Sis</a></h4>
      </div>
    </div>
  </div>
</section>
