<section class="section-squares">
  <div class="row small-up-3">
    <div class="column">
      <img src="/assets/img/jen.JPG" alt="Jen Gourdin">
      <div class="feature-text">
        <h5>The Rig</h5>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/vaughn-jade.jpg" alt="Vaughn Gourdin">
      <div class="feature-text">
        <h5>Bikes</h5>
      </div>
    </div>
    <div class="column">
      <img src="/assets/img/dylan.jpg" alt="Dylan Gourdin">
      <div class="feature-text">
        <h5>Extra</h5>
      </div>
    </div>
  </div>
</section>
