@font-face {
    font-family: 'Fresca';
    src: url('../fonts/Butler-Bold.woff2') format('woff2'),
        url('../fonts/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('../fonts/Butler.woff2') format('woff2'),
        url('../fonts/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSans Pro Book';
    src: url('../fonts/FreightSansProBook-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saturday Script Oblique Alt2';
    src: url('../fonts/SaturdayScriptObliqueAlt2.woff2') format('woff2'),
        url('../fonts/SaturdayScriptObliqueAlt2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightSans Pro';
    src: url('../fonts/FreightSansProBold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
